body{
    font: 10px verdana;
    text-align: center;
}
.controller{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
.header{
    text-align: center;
    border-bottom: dotted gray 1px;
    padding-bottom: 20px
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}

.teamMember{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px
}
.footer{
    text-align:center;
    font-size:16px;
    border-top: dotted gray 1px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    
}
#tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 8px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
			
#tooltip.hidden {
    display: none;
}
			
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 15px;
}