svg {
    height: 1400px;
    width: 1400px;
    border: 1px solid gray;
    text-align: center;
    padding: auto; 
}
g {
    margin: auto;
}
g.am-axis text {
    font-size: 10px;
}

.domain {
    fill: none;
}

.tick > line{
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: .25;
}